.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/debut_light.png);
  width: 100vw;
  height: 100vh;
}

.board {
  display: flex;
  justify-content: center;
}

.cell {
  font-family: Helvetica, Trebuchet MS, sans-serif;
  color: transparent;
  text-align: center;
  font-size: 20px;
  padding-top: 3px;
  vertical-align: middle;
  font-weight: bold;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  cursor: pointer;
  background: steelblue;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
  transition: all 0.3s;
}

.cell:hover {
  opacity: 0.8;
}

.cell:not(:hover) {
  transition: all 0.1s;
}

.cell.opened {
  background: none;
  cursor: unset;
  box-shadow: none;
}

.cell.disactivated {
  background-color: lightgray;
  box-shadow: none;
  transition: all 0.3s;
  pointer-events: none;
  cursor: unset;
}

.cell.flag::before {
  font-family: 'Font Awesome 5 Brands';
  content: '\f425';
  color: cornsilk;
  font-size: 16px;
  position: relative;
  bottom: 1px;
}

.cell.question::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f128';
  color: mintcream;
  font-size: 16px;
  position: relative;
  bottom: 1px;
}

.cell.mine::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f1e2';
  color: black;
}

.cell.num-1::before {
  content: '1';
  color: #8da3c0;
}

.cell.num-2::before {
  content: '2';
  color: darkorange;
}

.cell.num-3::before {
  content: '3';
  color: orangered;
}

.cell.num-4::before {
  content: '4';
  color: purple;
}

.cell.num-5::before {
  content: '5';
  color: black;
}

.cell.num-6::before {
  content: '6';
  color: black;
}

.cell.num-7::before {
  content: '7';
  color: black;
}

.cell.num-8::before {
  content: '8';
  color: black;
}

.restart-btn:hover {
  border: 1px solid #ff7b00;
  background-color: #ff7b00;
}

.restart-btn:focus {
  outline: none;
}